<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="header"> 
			<ul class="navigation"> 
				<li><a href="/home">Home</a></li>
				<li><a href="/register">Register</a></li> 
				<li><a href="/signin">Login</a></li> 
				<li><a href="/logout">Logout</a></li> 
			</ul> 
		</div>

		{{{ body }}}

	</body>
</html>
