<!DOCTYPE html>
<html>

<head>
  <title>The Kindness Club</title>
</head>

<body>

  </div>
  <div class="jumbotron">

    <img src="https://cdn.dribbble.com/users/1404880/screenshots/3300585/dh-rak-image_copy.jpg" alt="kindness-logo"
      class="kindesslogo" style="width:90em; height:35em; ">
    <h3 style= "margin-top: 10px; text-align: center;">Let's make the world a better place one act of kindness at a time!</h3>
    <br>

    <div class="container-main" style= "margin-left:30em">

      {{!-- button for login --}}
      <form method="get" action="/signin">
        <button type="submit" class="btn btn-primary" id="login" href="/signin">Log In</button>
      </form>
      <form method="get" action="/signup">
        {{!-- button for signup --}}
        <button type="submit" class="btn btn-primary" id="signup" href="/signup">Sign Up</button>
      </form>

    </div>
  </div>

</body>

</html>