{{!-- This is the kindness generator home page --}}
<!DOCTYPE html>
<html>

<head>
    <title>The Kindness Club</title>
</head>
<div class="header">
    <ul class="navigation">
        <li><a href="/home">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/signin">Login</a></li>
        <li><a href="/kindness">Kindness</a></li>
        <li><a href="/rewards">Rewards</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

<div class="wheelgif"><img src="../public/img/wheel.gif" alt="wheel gif" style="height:25em"></div><br>

<form>
    <div class="row">
        <h3 id="task">Task:</h3>
    </div>
    <div class="row">
        <h3 id="worth">Worth:</h3>
    </div>

</form>



</html>