{{!-- This is the kindness generator home page --}}


<h1>Hello {{User.FirstName}} {{User.LastName}}</h1>
<h1>Your point balance is {{User.Points}}</h1>

<img
  src="https://cdn.dribbble.com/users/2598141/screenshots/11467684/media/2509e16692dd873d6c40c799246bb47c.jpg?compress=1&resize=1600x1200"
  alt="kindnessimg" style="width:50em; height:35em; margin-left:20em ">
{{!-- add kind act --}}


<div class="container" style="margin-top: 30px; margin-bottom: 20px; text-align: center; border:2px solid black">
  <form>
    <div class="row-md-8 mt-4">
      <label>
      <input type="checkbox" id="completed" onclick="checked" style="width:30px;height:30px;"/>
   
   
          <div id="task">
       <h1>TASK: {{task.TaskName}} </h1>
  
  
          </label>
          </div>
    </div>
  </form> 




  <div class="row-md-8 mt-4">
    {{!-- <h1>WORTH: 100pts</h1> --}}
  </div>


</div>

</div>
 <script src="/JS/kindness.js"></script> 


