{{!-- This is the kindness generator home page --}}
<link rel="stylesheet" href="/css/kind.css">

<h2>Hello, {{User.FirstName}} {{User.LastName}}</h2>
<div id="point-balance">Your point balance is: <b><span id="user-total-points">{{User.Points}}</b></span></div>

<img
  src="https://cdn.dribbble.com/users/2598141/screenshots/11467684/media/2509e16692dd873d6c40c799246bb47c.jpg?compress=1&resize=1600x1200"
  alt="kindnessimg">

  <div class="task-container">
    <p class="task-name"><b>Task</b>: <span id="daily-task"></span></p>
    <p><b>Worth:</b> <span id="point-worth"></span> points</p>

    <button id="complete">I did this!</button>
  </div>


</div>

<script src="/JS/kindness.js"></script>