<!DOCTYPE html>
<html>
 
<head>
    <title>Register for The Kindness Club</title>
</head>
 
<body>
  

    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}} 
    
  

    
    <h1 style= "margin-top:20px; text-align: center; text-decoration:underline" >Register to Join The Kindness Club</h1>
 
 <div class="container" style= "text-align: center;">
    <form id="register" name="register" method="post" action="/register">
        <label for="name">Name</label> <br>
        <input class="text" name="name" type="text"/> <br>
        <label for="user_name">User Name</label> <br>
        <input name="user_name" type="text" /> <br>
        <label for="password">Password</label> <br>
        <input name="password" type="text" /><br>
        <label for="confirm_password">Confirm Password</label><br>
        <input name="confirm_password" type="password" /><br>

        {{!-- need to add btn function for redirecting to home page if login crudentials to not validate --}}
        <input class="btn-btn-primary" type="submit" value="Register" style="margin-top:10px;"/>
    </form>
    </div>

<div class="container" style= "text-align: center; border: 2px solid black; margin-top: 20px;">
    <h1 style="margin-top:20px; text-decoration:underline" >About Us</h1>
  <div class="row">
    <div class="col-md-6">
         <h3>Our Goal</h3>
       
           <p>.......</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
    <h3>Our Mission</h3>
    <p>.......</p>
   
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
    <h3>Our Story</h3>
    <p>.......</p>
   
    </div>
  </div>

</div>

</body>
</html>
