{{!-- This is the rewards page --}}
<!DOCTYPE html>
<html>
 
<head>
    <title>RewardsPage</title>
</head>
 
<body>
        <div class="header"> 
			<ul class="navigation"> 
				<li><a href="/home">Home</a></li>
				<li><a href="/register">Register</a></li> 
				<li><a href="/signin">Login</a></li> 
				<li><a href="/logout">Logout</a></li> 
			</ul> 
		</div>
        <h1>Rewards Page!</h1>
<form> 
        <label for="points" id="rockstr"></label><h1>Available Points></h1>
          {{!-- <img src="" --}}
        <label for="rockstar" id="rockstr">RockStar</label>
        {{!-- <img src="" --}}
        <label for="awesome" id="awesome">Awesome</label>
              {{!-- <img src="" --}}
        <label for="mother" id="mother">Mother Theresa</label>      
    
   
    </form>
</body>
</html>