<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
<link rel="stylesheet" href="/css/signin.css">
{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}

  {{!-- BOOTSTRAP SIGN-IN FORM WITH href button--}}
  <div class="container-main" style= "margin:auto;" >
      <h1 style="text-decoration:underline">Login</h1>
      <form id="signin" name="signin" method="post" action="/signin">
        <label for="user_name" style="margin-top:20px;">User Name</label> <br>
        <input name="user_name" type="text" /> <br>
        <label for="password" style="margin-top:20px;">Password</label> <br>
        <input name="password" type="password" /><br>
        <button type="submit" id="submit" class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px; ">Submit</button>
      </form>

  </div>


</body>

</html>