
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
h1,h2,h3,h4,h5,h6{
font-family: 'Roboto', sans-serif;
}
img{
 background-color:#ffe8a9;
 margin:0 auto;
 height:420px;
 margin-bottom:1rem;
}
body{
    background-color:#ffe8a9;
}
.main-container{
    text-align:center;
    padding:2rem;
}
.task-container{
    background-color:white;
    padding:1.4rem;
    border:1px solid #888;
}
.task-name{
    font-size:1.3rem;
}
#point-balance{
    background-color:#ebd28d;
    font-size:1.3rem;
    padding:0.5rem;
}
#user-total-points{color:green;}