
.header {
  background-image: "https://cdn.dribbble.com/users/1404880/screenshots/3300585/dh-rak-image_copy.jpg";
  width: 100%;
  height:100%;
  background-color: #7ecbd0;
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

/* //trying to center the logo but its not working and i wanna add backgroud color to match img file */



.navigation {
  margin-bottom: 20px;
}

.navigation li {
  display: inline-block;
  margin-right: 1rem;
}


container-fluid{
  font-size:24px;
}

h1,h3{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  justify-content: center;
}


 .container-main{
    width: 450px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 30px;
    margin-left: 160px;
 }


 #signup,#login {
   margin-top: 20px;
   margin-left: 20px;
   margin-bottom: 20px;
   text-align:center;
 }
