@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

img{
    width:100%;
    height:35em;
    
}
body{
    background-color:#7fcad1;
}
h3{
    margin-top: 10px; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-shadow: black;
    font-weight: bolder;
}
.container-main{
    background-color:white;
    text-align: center;


    

}

.jumbotron{
align-items: center;

}
.login .register{
color:orange;
}